name: Deploy to EKS

on:
  push:
    branches:
      - main

env:
  AWS_DEFAULT_REGION: "us-east-2"
  CLUSTER_NAME: "eks-cluster"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # Check out the repository
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Setup AWS Credentials
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_DEFAULT_REGION }}

      # Install Terraform
      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7

      # Terraform: Initialize and Apply
      - name: Terraform Init and Apply
        working-directory: .
        run: |
          terraform init
          
          # Importar o cluster EKS
          terraform import module.eks.aws_eks_cluster.this eks-cluster
          
          # Importar o node group "dev"
          terraform import aws_eks_node_group.dev eks-cluster:dev-20241204000946205400000015

          # state
          terraform state push terraform.tfstate
          
          terraform apply -auto-approve
